*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 
.block {
  
}

.block_row{
  display: flex;
  align-items: center;
  border: 20px solid yellow;
  margin: 0px 0px 20px 0px; 

}
.block_column{
  border: 20px solid purple;
}

.block_item {
  background-color: skyblue;
  padding: 30px 50px;
  font-size: 50px;
  color:aliceblue;
  font-weight: 700;
}