@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    border: none;
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.tabs {
    margin: 100px auto 118px auto;
}

.tab__items {
    display: flex;
}

.tab__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 72px;
    color: #333;
    text-align: center;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
}

.tab__item--active {
    position: relative;
    background-color: #fff;
    top: 1px;
    padding: 10px 82px 10px 82px;
    border: 1px solid;
    border-color: #C6CBCD;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
    z-index: 3;
}

.tab__content {
    display: flex;
    border: 1px solid #C6CBCD;
}

.tab__content__left {
    padding: 55px 30px 50px 100px;
}

.tab__title {
    color: #000;
    font-family: "Open Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 57px;
}

.tab__text {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 26px;
}

.tab__button {
    display: block;
    width: 270px;
    padding: 15px 0;
    margin-top: 84px;
    margin-bottom: 0;
    background-color: #EC7979;
    color: #fff;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    text-transform: capitalize;
}

.tab__content__right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 470px;
    height: 500px;
}

.awesome {
    margin-bottom: 110px;
}

.section-title {
    color: #000;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
}

/* .section-title::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: calc(50% - 85px);
    width: 170px;
    height: 1px;
    background: #EC7979;
} */

.separator {
    width: 170px;
    height: 1px;
    background: #EC7979;
    margin: 0 auto;
}

.slogan {
    color: #86878B;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    margin: 40px 0 40px 0;
}

.awesome__cards {
    display: block;
    margin: 0 -15px;
    text-align: center;
}

.card {
    display: inline-block;
    width: 370px;
    padding: 0 15px;
}

.card svg {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.card__name {
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin: 24px 0 26px 0;
}

.card__text {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.price {
    padding-top: 82px;
    padding-bottom: 110px;
    background-color: #F5F5F5;
}

.price_list_container {
    display: flex;
    justify-content: space-between;
}

ul {
    margin: 0px;
    padding: 0px;
    width: 370px;
}

#list_header {
    font-family: 'Open Sans';
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    line-height: 60px;
    text-transform: capitalize;
    background: #000;
    border: 2px solid rgb(255, 255, 255);
    background: rgb(51, 51, 51);
    color: #F5F5F5;
}

#list_price {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 100px;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    background: rgb(51, 51, 51);
    color: #F5F5F5;
}

#free_for_life {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    line-height: 50px;
    border: 2px solid rgb(245, 245, 245);
    background: rgb(51, 51, 51);
    color: #86878B;
}

#list_price_regular {
    background: rgb(255, 255, 255);
    color: #86878B;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    line-height: 50px;
    text-transform: capitalize;
    border: 2px solid rgb(245, 245, 245);
}

.customers {
    padding: 107px 0;
}

.customers-container {
    display: flex;
    justify-content: space-between;
}

.customer-card {
    width: calc(100% / 3 - 60px / 3);
}

.customer-card__review {
    position: relative;
    padding: 37px 25px;
    border-radius: 10px;
    background: rgb(226, 226, 226);
    text-align: center;
    color: rgb(134, 135, 139);
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.customer-card__review::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 19%;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid rgb(226, 226, 226);
}

.customer {
    display: flex;
    margin-top: 65px;
    gap: 30px;
}

.customer__img img {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%; 
}

.customer__info__name {
    color: rgb(0, 0, 0);
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 18px;
}

.customer__info__profession {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}